body {
    background-image: url(../image/background/ponyo050.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100%;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}
section {
    margin: 50px 250px 50px 250px;
}
h1 {
    color: #a8dadc;
	margin: 50px 0px 20px 20%;
}
article {
    background-color: rgba(33, 158, 188, .6);
    margin-bottom: 20px;
    color: white;
    font-size: large;
    height: 350px;
    padding: 70px 50px 0px 35%;
}
.person-pic {
    float: left;
    height: 350px;
    margin: 30px 0px 30px 30px;
}
.byby {
	margin: 0px;
    padding: 10px 20px;
    background-color: #a8dadc;
    color: #023e8a;
    font-size: 15px;
    border: #023e8a 3px solid;
    font-weight: bolder;
    border-radius: 5px;
}