body {
    background-image: url(../image/background/ged001.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100%;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}
.bt_top{
    position: relative;
    left: 1400px;
    width:90px;
    margin-bottom: 30px;
}